version: '3.8'

services:
  calibration:
    image: ghcr.io/tmolteno/tart_cal
    build: .                                # Path to Dockerfile
    environment:
      TART_LOGIN_PW:                          # Password for authorized access to the telescope API.
      TART_API: https://tart.elec.ac.nz/rhodes/   # telescope API endpoint
      TARGET: rhodes
      TART_NCAL: 2                                # use 1 for debugging only
      TART_UPLOAD: 1                              # Set to 1 to upload results
      TART_CAL_INT: 30                            # Interval between measurements
      TART_CAL_ARGS: "--phases"                   # Specify any other arguments --phases
      TART_CAL_ITERATIONS: 1000                   # Number of iterations for basinhopping
    volumes:
      - ~/calibration_results:/work
    command: /raw_calibrate.sh

#
#   Put the invironment variables in a file called '.env' in the same directory as this
#   TART_LOGIN_PW=foobar
